
@import '../../../../app.css';
.user-profile-pic{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid var(--color-border-light);
  overflow: hidden;
}

.red{
  color: var(--color-red);
}

.user-header-flex {
  margin-left: 16px;
  display:flex;
  flex: 0 1 auto;
  align-items: center;
}

.post-header{
  border: 1px solid var(--color-border-light);
  padding: 16px 0 !important;
  vertical-align: middle;
}

.card-container{
  width: 600px;
  font-family: sans-serif;
  font-size: medium;
  box-sizing: border-box;
  margin: 16px 0;
}

.user-header-text{
  margin-left: 16px;
}

.username{
  display: inline-block;
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

.location{
  font-size: 0.90em;
  margin-top: 4px;
  color: var(--color-text-gray);
}

.image{
  width: 600px;
  max-height: 600px;
  object-fit: cover;
  overflow: hidden;
  margin: none;
}

.image-container{
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 0;
  min-height: 200px;

}

.image-loader-container{
  width: 100%;
  min-height: 200px;
  height: 100%;
  position: absolute;
  background: rgb(233, 233, 233);
  background-image: url("./loading-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.button-tray{
  display: flex;
  margin: 8px 0 0;
  padding: 0 16px;
  font-size: 32px;
}

.transparent{
  opacity: 0;
}

.heart{
  transition-duration: 0.3s;
}

.heart, .share, .comment, .bookmark{
  font-size: 32px;
  margin: 4px 16px 0 0;
  cursor: pointer;
}

.share:hover, .comment:hover, .bookmark:hover, .share:active, .comment:active, .bookmark:active, .heart:active{
  transform: scale(1.1);
}

.highlight-icon{
  color: var(--color-medium-spring-green);
}

.bookmark{
  margin: 4px 0 0 0;
}
.row{
  display: block;
}

.bookmark{
  padding: 0;
}

.post-footer{
  margin-top: -4px;
  border: 1px solid var(--color-border-light);
  border-top: 2px solid var(--color-post-border-light);
}

.bookmark-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.caption-container{
  margin-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.space-right{
  margin-right: 0.2em;
}

.bold{
  font-weight: bold;
}

.likes{
  display: flex;
  padding: 16px;
}

.date{
  font-size: 0.90em;
  color: var(--color-text-gray);
  padding: 0 0 16px 16px;
}

.number-of-likes{
  margin-right: 0.2em;
}


@media only screen and (max-width: 600px){

  .image-loader-container{
    width: 100vw;
  }
  .card-container{
    width: 100%;
    margin: 0;
  }
  .image-container{
    width: 100vw;
  }
  .image{
    width: 100vw;
  }
  .user-profile-pic{
    width: 32px;
    height: 32px;
  }
  .post-header{
    width: 100%;
  }
  .user-header-flex{
    width: 90%;
  }
}
