@import '../../../app.css';

.whole-page-wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  transition-duration: 0.2s;
  opacity: 0;
  z-index: -1;
}

.popup-image-container{
  width: 150px;
  height: 150px;
  background-image: url('./images/calendar.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.popup-container{
  text-align: left;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 600px;
  font-family: 'Nunito' ,sans-serif;
  font-size: medium;
  padding: 16px;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition-duration: 0.3s;
}

.popup-text{
  padding-left: 16px;

}

.popup-header{
  display: flex;
  justify-content: flex-start;
  align-items: top;
}
.popup-text > h2{

  font-size: 2em;
  text-align: left;
  font-size: 2em;
  margin: 0 0 32px 0;
}


.popup-container > p{
  font-family: 'Roboto';
  font-weight: 400;
}

.visible{
  z-index: 5;
  opacity: 1;
}

@media only screen and (max-width: 800px){
  
  .popup-container{
    min-width: 0;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    min-height: 30%;
    border-radius: 25px;
    margin: 10px 0 0 0;

  }

  .popup-text{
    padding-left: 0;
    text-align: center;
  }

  .popup-text > h2{
    margin-bottom: 16px;
    text-align: center;
  }

  .popup-header{
    flex-direction: column-reverse;
  }
  .popup-container > h2{
    font-size: 2em;

    font-weight: 400;
  }

  .popup-container > p{
    font-size: 1em;
    
  }

  .popup-image-container{
    align-self: center;
    margin-top: 16px;
  }
}
