.page404-wrapper{
  position: absolute;
  max-width: 80%;
  width: 80%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1em;
}

.svg-404{
  background-image: url("./images/Error\ Lamp\ Robot.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width:300px;
  margin: auto;
}

.page404-heading{
  font-size: 4em;
  text-align: center;
}

.page404-message{
  text-align: center;
  font-size: 1.5em;
}

@media only screen and (max-width: 800px){
  .page404-heading{
    font-size: 2.5em;
  }
}