@import '../../../app.css';

.main-header{
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  color: black;
  padding: 8px 0;
  border-bottom: 1px solid gray;
  align-items: center;
  border-top: none;
  justify-content: space-between;
  z-index: 2;
}

.growwgram{
  font-size: 2em;
  font-family: 'Style Script', cursive;
  margin-left: 8px;
  padding-left: 16px;
  text-decoration: none;
}

.main-header-wrapper{
  display: flex;
  position: absolute;
  width: 100vw;
  justify-content: center;
  height: 65px;
  top: 0;
  z-index: 2;
}

.explore:hover{
  transform: scale(1.1);
}

.explore{
  font-size: 2em;
  cursor: pointer;
  margin: 0 16px 0 0;
}

@media only screen and (min-width: 600px){
  .growwgram{
    padding-left: 16px;
    padding-right: 0;
  }

  .empty{
  
  }
  .main-header-wrapper{
    width: 100vw;
  }

  
}

