@import '../../app.css';

.main-header{

  width: 895px;
  display: flex;
  flex-direction: horizontal;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  background-color: white;
  color: black;
  padding: 8px;
  border-bottom: 1px solid black;

  align-items: center;
  border-top: none;
}

.growwgram{
  font-size: 2em;
  font-family: 'Style Script', cursive;
  margin-left: 8px;

}
.main-header-wrapper{

  position: relative;
  display: flex;
  justify-content: center;
  height: 65px;
}

.main-header-tray{
  margin: 0;
  padding: 0;
}

.explore{
  font-size: 2em;
  cursor: pointer;
  padding-right: 200px;
}

.empty{
  width: 600px;
}

@media only screen and (min-width: 600px){
  .growwgram{
  }
  .explore{
    padding-right: 16px;
  }
  .empty{
  
  }
}

