@import '../../../app.css';

.user-page-header-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-page-profile-pic-container{
  margin: 0 30px 20px 0 ;
  flex-grow: 1;
}
.user-page-button-tray{
  display: inherit;
  margin-left: 16px;
  height: 38px;
}
.user-page-username{
  display: inline-block;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  margin: 0
}

.user-page-details-top{
  display:flex;
  margin: 0 0 20px;
}

.follow-button{
  font-size: 1em;
  margin-right: 10px;
}

.ellipsis-button{
  margin-right: 10px;
}
.follow-button{
  padding: 0 20px;
  background-color: var(--color-medium-spring-green);
  border: none;
  color: white;
  border-radius: 5px;
}

.follow-button:hover, .ellipsis-button:hover, .suggested-bar-button:hover{
  transform: scale(1.1);
}

.ellipsis-button:hover{
  color: var(--color-medium-spring-green);
}

.suggested-bar-button{
  padding: 0 8px;
  background-color: var(--color-medium-spring-green);
  color: white;
  border: none;
  border-radius: 5px;
}

.ellipsis-button{
  padding: 0 10px;
  border:none;
  background-color: transparent;
}

.user-page-details{
  flex-grow: 2;
  display:flex;
  flex-direction:column;
  margin-bottom: 10px;
}

.user-page-wrapper{
  margin:auto;
  max-width: 60%;
  margin-top: 8%;
}

.user-page-details-middle{
  display: flex;
  flex-direction: vertical;
  justify-content: flex-start;
  font-size: medium;
  margin: 0 0 20px;
  font-family: sans-serif;
}

.user-page-profile-pic{
  width: 150px;
  height: 150px;
  border: 1px solid var(--color-border-light);
  border-radius: 50%;
  display: block;
  margin: auto;
}

.user-page-stat-data{
  margin: 0 40px 0 0;
  font-size: 1.2em;
}

.user-page-fullname{
  font-family: sans-serif;
  margin: 0 0 20px;
}

.user-page-posts-header{

  display: flex;
  padding: 16px 0;
  border-top: 1px solid gray;
  justify-content: center;
  align-items: center;
}

.grid-button, .list-button{
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.selected{
  background-color: var(--color-medium-spring-green);
  color: var(--color-white);
}

.posts-display-option{
  max-width: 44px;
  margin: 0 16px 0 16px;
}

.user-page-bio{
  font-family: sans-serif;
}
.post-footer{
  margin-top: -4px;
}

.user-feed-list{
  display:flex;
  justify-content: center;
}

.hidden{
  display: none;
}

.grid-view-button-floating{
  position: fixed;
  bottom: 5%;
  right: 20%;
  color: white;
  background: var(--color-medium-spring-green);
  padding: 16px;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.floating-button-transparent{
  opacity: 0;
}

@media only screen and (max-width:800px){
  .user-page-photo-gallery{
    width: 100vw;
  }
  .user-page-details{
    margin: 20px 0 0 0;
    width: 100vw;

  }
  .user-page-profile-pic{
    left: 16px;
    height: 75px;
    width: 75px;
  }
  .user-page-profile-pic-container{
    width: 100%;
    margin-top: 10.5%;
  }
  .user-page-details-middle{
    justify-content: space-evenly;

  }
  .user-page-stat-data{
    margin: 0;
  }
  .user-page-button-tray{
    justify-content: center;
    margin: 0;
  }
  .user-page-header-flex{

    width: 100vw;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15%;
  }
  .user-page-details-top{
    flex-direction: column;
    text-align: center;
  }

  .user-page-details-bottom{
    padding-left: 16px;
    width: 90%;
  }
  .user-page-wrapper{
    margin-left: 0;
  }
  .user-page-username{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .user-page-posts-header{
    width: 100vw;
  }

 
  .user-feed-list{
    width: 100vw;
  }
  .ellipsis-button{
    display: none;
  }
  .post-header{
    max-width: 100%;
  }

  .grid-view-button-floating{
    right: 16px;
    bottom: 16px;
  }
}

