:root {
  --color-border-light: rgb(223,223,223);
  --color-text-gray: rgb(127,127,127);
}

.newsfeed-wrapper{
  display:flex;
  justify-content: center;
}

*{
  margin: 0;
  padding: 0;
}
html{
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}
body{
  min-width: 360px;
}

@media only screen and (max-width: 360px) {
  .body{
    background-color: black;
  }

}
